#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.sln
*.vs/
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.lock
*.ide
*.ide-shm
*.ide-wal
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#monodroid private beta
monodroid*.msi
/CompiledContent/Android/IgnoreMe.dll
/CompiledContent/OSX/IgnoreMe.dll
/CompiledContent/Windows8/IgnoreMe.dll
/CompiledContent/Windows/IgnoreMe.dll
*.cachefile
*.dll
*.VC.db
*.VC.opendb

artifacts/
.vs/3902_Project/FileContentIndex/efca4a2d-60ce-4e4d-a053-1e91559ec41c.vsidx
.vs/3902_Project/FileContentIndex/b2c22c4f-b997-443b-9661-e04a5531485f.vsidx
.vs/3902_Project/FileContentIndex/84046bef-4a11-4826-902c-c59675c19493.vsidx
.vs/3902_Project/FileContentIndex/7dc236cd-4d7d-4af9-be48-e22170699fa0.vsidx
.vs/3902_Project/FileContentIndex/6bdeaa5c-f45b-47a9-a411-1aeda08d6297.vsidx
